.header {
    user-select: none;
    grid-area: header;
    background-color: lightgrey;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerImgDiv {
    margin-left: 5px;
    height: 70px;
    width: 70px;

}
.headerImgDiv img {
    height: 65px;
    width: 65px;
}

.headerText {
    margin-left: 60px;
    font-size: 26px;
}
.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 170px;
    margin-right: 10px;
}
.block{
    background-color: green;
}