.contentUserBg {
    margin: 5px;
    overflow: hidden;
}
.contentUserBg img {
    width: 910px;
    height: 390px;
}

.contentUserDesc {
    display: flex;
    height: 260px;
    width: 450px;
    margin: 5px;
}

.photo {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.photo label {
    border: 1px solid grey;
    padding: 0 4px;
    border-radius: 3px;
    width: 110px;
    height: 20px;
    background-color: lightgrey;
}

.photo label:hover {
    opacity: 0.9;
    border: 1px solid lightgrey;
}

.photo img {
    height: 90px;
    width: 90px;
    margin-bottom: 5px;
}

.contentUserDesc input {
    display: none;
    width: 115px;
}

