.contentUserBg {
    margin: 5px;
    overflow: hidden;
    width: 910px;
    height: 290px;
}

.contentUserBg img {
    width: 950px;
    height: 412px;
}

.contentUserDesc {
    display: flex;
    height: 140px;
    width: 450px;
    margin: 5px;
}
.photo{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.photo label{
    border: 1px solid grey;
    padding: 0 4px;
    border-radius: 3px;
    width: 110px;
    height: 20px;
    background-color: lightgrey;
}
.photo label:hover{
    opacity: 0.9;
    border: none;
    width: 112px;
    padding: 1px 5px;
    height: 22px;
}
.photo img {
    height: 90px;
    width: 90px;
    margin-bottom: 5px;
}

.contentUserDesc input {
    display: none;
    width: 115px;
}


.userDesc {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 200px;
}